<?xml version="1.0"?>
<model>
  <name>homerobot</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Luca</name>
    <email>luca@example.com</email>
  </author>
  <description>
    HomeRobot Differential Drive Vacuum Robot with IMU and Lidar.
  </description>
</model>
