# Generic
**/.idea/
build
build-zephyr
.ccache
.direnv
.envrc

# Robot
robot/.pio
robot/src/secrets.h
robot/lib/LDS
robot/lib/FastIMU

# Server
server/target
target

# Zephyr
build-zephyr-led
zephyr-port/robot_app/src/secrets.h
zephyr-port/zephyr-sdk-1.0.0
zephyr-port/zephyr_led_app/build
zephyrproject

