# Generic
**/.idea/
build
build-zephyr
.ccache

# Robot
robot/.pio
robot/src/secrets.h
robot/lib/LDS
robot/lib/FastIMU

# Server
server/target
target

# Zephyr
zephyr-port/robot_app/src/secrets.h
zephyr-port/zephyr_led_app/build
zephyr-port/zephyr-sdk-1.0.0
zephyrproject

